<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-3 col-md-2 col-lg-2"></div>
            <div class="col-sm-3 col-md-2 col-lg-2"></div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <mat-card class="login-card">  
                    <mat-card-header>
                        <mat-card-title><p style="font-size: 30px"><b>Login</b></p></mat-card-title>
                    </mat-card-header>
                                            
                    <mat-card-content>
                        <form  #myForm="ngForm" class="login-form">
                            <mat-form-field class="example-full-width">
                                <input  matInput  placeholder="Username" [(ngModel)]="username"  name="username"  required>
                            </mat-form-field>
                            <br>
                            <mat-form-field class="example-full-width">
                                <input  matInput  placeholder="Password" [(ngModel)]="password"  type="password"  name="password"  required> 
                            </mat-form-field>                
                        </form>
                    </mat-card-content>
                                          
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="check()" ><p style="font-size:17px;margin-top: 8px">Login</p></button>
                        <br /><br />
                        <p style="font-size: 15px">Don't Have an account <a routerLink="/register">Click Here</a></p>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>